* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    overflow: hidden;
  }
  
  html, body {
    background: #333;
  }
  
  h1 {
    color: white;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    cursor: pointer;
  }
  
  button {
    height: 40px;
    width: 100px;
    border: none;
    background: linear-gradient(#2196F3, #1E88E5);  /* 500, 700 */
    border-bottom: 2px solid #1565C0;  /* 900 */
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 42px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    color: white;
  }
  
  form > button {
    width: 200px;
  }
  
  input {
    text-align: center;
    margin-left: .5rem;
  }
   
  #comenzar {
    position: absolute;
    transform: translateY(100%);
  }
  
