* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

html, body {
  background: #333;
}

h1 {
  color: #ccc;
  position: absolute;
}

#p1 {
  right: 0;
}

#izquierda {
  position: relative;
  width: 50%;
  padding: 20px;
  float: left;
}

#derecha {
  position: relative;
  width: 50%;
  padding: 20px;
  float: left;
}

.container {
  position: relative;
  width: 500px;
}

#izquierda > .container {
  float: right;
}
#derecha > .container {
  float: left;
}

.board {
  position: relative;
  margin: 50px auto 0 auto;
  width: 500px;
  height: 500px;
  border: 5px solid #ccc;
  border-radius: 5px;
  /* background-color: #03A9F4; */
  background-image: url(sea-background.jpg);
  background-size: cover ;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.3);
  transition: all .1s;
}

.board.shoot,
.board.winner {
  border: 5px solid #AFB42B;
}

.board > div {
  position: relative;
  display: block;
  float: left;
  border: 1px solid rgb(180, 180, 180);
}

.board > div::after,
.board > div::before,
div.barco::before {
  position: absolute;
  display: none;
  content: "";
  border-radius: 50%;
  background: linear-gradient(#CDDC39, #AFB42B);
  border-bottom: 2px solid #827717;  /* 900 */
  box-shadow: 0 1px 3px rgba(0,0,0,.6);
  z-index: 3;
}

div.barco::before,
div.place-barco:hover::before {
  display: block;
  z-index: 2;
  cursor: pointer;
  height: 50%;
  left: 10%;
  top: 25%;
}

div.barco2::before {
  width: 180%;
  background: linear-gradient(#CDDC39, #AFB42B);  /* 500, 700 */
  border-bottom: 2px solid #827717;  /* 900 */
}

div.barco2.vertical::before {
  left: -40%;
  top: 80%;
}

div.barco3::before {
  width: 280%;
  background: linear-gradient(#4CAF50, #388E3C);  /* 500, 700 */
  border-bottom: 2px solid #1B5E20;  /* 900 */
}

div.barco3.vertical::before {
  left: -90%;
  top: 130%;
}

div.barco3v3::before {
  width: 280%;
  background: linear-gradient(#FF5722, #E64A19);  
  border-bottom: 2px solid #BF360C;  /* 900 */
}

div.barco3v3.vertical::before {
  left: -90%;
  top: 130%;
}

div.barco4::before {
  width: 380%;
  background: linear-gradient(#795548, #5D4037);  /* 500, 700 */
  border-bottom: 2px solid #3E2723;  /* 900 */
}

div.barco4.vertical::before {
  left: -145%;
  top: 180%;
}

div.barco5::before {
  width: 480%;
  background: linear-gradient(#607D8B, #455A64);  /* 500, 700 */
  border-bottom: 2px solid #263238;  /* 900 */
}

div.barco5.vertical::before {
  left: -190%;
  top: 230%;
}

div.barco.vertical::before,
div.place-barco.vertical::before {
  transform: rotate(90deg);
}

.board.shoot > div::after {
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  cursor: pointer;
}

.board.shoot > div:hover::after {
  display: block;
}

div.bomba::after {
  display: block;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  box-shadow: inset 0 0 3px 0px #000;
  background: linear-gradient(#F44336, #D32F2F);  /* 500, 700 */
  border-bottom: none;
}

div.bomba:not(.barco)::after {
  background: linear-gradient(#F5F5F5, #E0E0E0);  /* 500, 700 */
}

.barco-container {
  position: relative;
  width: 100%;
}

.barco-placeholder {
  position: relative;
  width: 55px;
  height: 55px;
  top: 20px;
}

.barco-placeholder.vertical {
  float: left;
  top: 0px;
  margin-top: 0px;
}

button {
  position: absolute;
  height: 40px;
  width: 100px;
  margin-left: -100px;
  top: 20px;
  border: none;
  background: linear-gradient(#2196F3, #1E88E5);  /* 500, 700 */
  border-bottom: 2px solid #1565C0;  /* 900 */
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  color: #ccc;
  font-weight: bold;
  font-size: 17px;
  line-height: 42px;
  cursor: pointer;
}

button.hidden {
  display: none;
}

button#reset {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.puntuacion {
  display: none;
  top: 20px;
  position: absolute;
  width: 200px;
}

.puntuacion span {
  display: block;
  font-size: 26px;
  color: #ccc;
}